
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

*{
  background-color: #051011;
  color: #fff;
  margin: 0;
  padding: 0;
}

h2{
  background-color: black;
  text-align: center;
  margin: 0 auto;
  margin-left: 220px;
}

h3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.row{
  padding-top: 20px;
}

.main-box{
  width: 60%;
  margin: 0 auto;
}

input[type='submit']{

  width: 500px;
}

input[type='text']{

  width: 500px;
}

input[type='email']{

  width: 500px;
}

input[type='date']{

  width: 500px;
}

input[type='number']{

  width: 500px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
